<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{{"/" | relative_url }}">{{ site.title | escape }}</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{"/" | relative_url }}">Home</a>
          </li>

          {% assign pageUrl = page.url | relative_url %}
          {% for navButt in site.navButtons %}
            {% assign relUrl = navButt.href | relative_url %}
          

            {% if pageUrl contains relUrl %}
            <li class="nav-item active">
            {% else %}
            <li class="nav-item">
            {% endif %}
              <a class="nav-link" href="{{relUrl}}">{{navButt.label}}</a>
            </li>
            
            {% if pageUrl contains relUrl %}

            <ul class="navbar-nav">
              {% for subButt in navButt.subButtons %}
                <li class="nav-item">
                  <a class="nav-link" href="#{{subButt.id}}"> - {{subButt.label}}</a>
                </li>
              {% endfor %}
            </ul>

            {% endif %}

          {% endfor %}
        
        </ul>
      </div>
    </div>
  </nav>